<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
  <a class="navbar-brand pull-right" href="https://thecoderfactory.com">The Coder Factory</a>
  </div>
</nav>